**/__pycache__
*.idea
test_data/
.vscode/
out/
dist/
.env
.coverage
*.mat
*.zip
*.zip*
pwd.py
*.sif
*.gif
*.mp4
*.png
*.keras
*.dcm
readme.txt
*.pth
*.out
*.log
*.csv
*.csv#
*.npy
*egg-info
*.stats
commissioning/data/*
build/