output/
Pipeline/lightning_logs
Pipeline/checkpoints
Plangenerator/wandb
Dosepredictor/checkpoints
Dosepredictor/Output
Dosepredictor/wandb
Plangenerator/Output
videos/**
**/__pycache__
*.idea
Output/**
test_data/
.vscode/
out/
dist/
.env
.coverage
models/Output/
Plangenerator/videos
Plangenerator/checkpoints
*.mat
*.zip
*.zip*
pwd.py
*.sif
*.gif
*.mp4
*.png
*.keras
*.dcm
scripts/jobs/
readme.txt
scripts/bash/readme.txt
database/AUTORPT
database/lund-probe
*.pth
*.out
*.log
*.csv
*.csv#
database/optimal_deviation_validation/LBFGS/_t2/static_optimize_deviation_val_LBFGS.py
database/optimal_deviation_validation/LBFGS/_t3/static_optimize_deviation_val_LBFGS.py
database/optimal_deviation_validation/LBFGS/_t4/static_optimize_deviation_val_LBFGS.py
database/optimal_deviation_validation/LBFGS/_t5/static_optimize_deviation_val_LBFGS.py
*.npy
*egg-info
*.stats